{% extends 'base_bootstrap_4.html.twig' %}
    {% block body %}


        <div id="homeSection" class="card m-4">
            <div class="card-header bg-primary text-white">
                <h1><em><span class="fa fa-exclamation-triangle"></span> An error has occurred</em></h1>

            </div>
            <div class="card-body">
                <h2 class="font-weight-light">
                    <p class="lead"> OOPSss something went wrong . Something went terribly wrong. Please come back later.</p>

                </h2>

            </div>


            <div class="card-footer"> If the issue persists please contact us at &nbsp;&nbsp;&nbsp;
                <a href="mailto:{{ webMasterMail }}">
                    <span class='badge  badge-primary'>{{ webMasterMail }}</span></a>
                &nbsp;&nbsp;

            </div>

        </div>

    {% endblock %}


