{% extends 'base_bootstrap_4.html.twig' %}
{% block body %}


    <div id="homeSection" class="card m-4">
        <div class="card-header bg-danger text-white">
            <h1><em><span class="fa fa-exclamation-triangle"></span> Error 500 : Internal server error</em></h1>

        </div>
        <div class="card-body">
            <h2 class="font-weight-light">
                <ul> This error could be related to different reasons :
                    <li>You are not authenticated, try to log-in again :

                          <span class="p-1 btn btn-secondary border-dark">
                              <a  href="{{ path('lightsaml_sp.login') }}" role="button" title="EGI Checkin Login">
                                  <img alt="login trough EGI Checkin" width="45px" height="45px" src="{{ asset('images/login.png') }}"/>
                              </a>
                          </span>


                        </li>
                    <li>OR The server encountered a problem, please try again later</li>
                </ul>

            </h2>

        </div>


        <div class="card-footer"> For more information, please contact us at &nbsp;&nbsp;&nbsp;
            <a href="mailto:{{ webMasterMail }}">
                <span class='badge  badge-danger'>{{ webMasterMail }}</span></a>
            &nbsp;&nbsp;

        </div>

    </div>

{% endblock %}