<p>Dear all,</p>

<p>Issues have been detected at IN2P3-IRES.</p>

<p id="alarm_details">
    -----------
    *ALARM #0
    -----------
    id : 5be634dc-3728-11e8-b58b-1418776844f0
    created_at : 2018-04-03 10:21:48
    test_name : eu.egi.CREAM-IGTF
    host_name : sbgce1.in2p3.fr
    service : CREAM-CE
    status : Nagios critical
    url_to_history : https://argo-mon2.egi.eu/nagios/
    site : IN2P3-IRES

    -----------
    *ALARM #1
    -----------
    id : 1fe774d9-3728-11e8-b58b-1418776844f0
    created_at : 2018-04-03 10:17:16
    test_name : org.sam.SRM-All
    host_name : sbgse1.in2p3.fr
    service : SRM
    status : Nagios critical
    url_to_history : https://argo-mon2.egi.eu/nagios/
    site : IN2P3-IRES

    -----------
    *ALARM #2
    -----------
    id : 1eb47635-3728-11e8-b58b-1418776844f0
    created_at : 2018-04-03 10:17:01
    test_name : org.sam.SRM-Get
    host_name : sbgse1.in2p3.fr
    service : SRM
    status : Nagios critical
    url_to_history : https://argo-mon2.egi.eu/nagios/
    site : IN2P3-IRES

</p>
<p>Could you have a look ?<br>
    Best Regard <br>
    Arthur De Barbanson
</p>

