.dropdown ul li {
  color: #eea236;
}

.dropdown ul li a {
  background-color: #fff;
}

.alert-primary {
  color: #5eb5e0;
}

.alert-primary a {
  margin: 44px;
  padding: 20em;
}

p {
  margin: 10em;
  padding: 2em;
  background-color: #545b62;
  color: #6b9311;
}
