<h4>Public Registred Models</h4>

{% if models is defined and models is iterable %}

{% set countM = models|length %}

    {% if countM == 0 %}
        <div class="badge badge-danger" style="margin:8px">
            <span>Sorry no Model found.</span>
        </div>

    {% else %}

        <div class="badge badge-success" style="margin:8px">{{ countM }} model(s) found.</div> <br/> <br/>
        {%  include ":Broadcast/templates:template_tab_broadcastDisplayList.html.twig" with
        {"broadcasts":models, "displayHead": displayHead}
        %}
    {% endif  %}
{% endif %}

<hr>
<h4>Your Registred Models</h4>


{% if broadcasts is defined and broadcasts is iterable %}

{% set countBD = broadcasts|length %}

    {% if countBD == 0 %}
        <div class="badge badge-danger" style="margin:8px">
            <span>Sorry no Model found.</span>
        </div>

    {% else %}
        <div class="badge badge-success" style="margin:8px">{{ countBD }} model(s) found.</div> <br/> <br/>

        {%  include ":Broadcast/templates:template_tab_broadcastDisplayList.html.twig" with
        {"broadcasts":broadcasts, "displayHead": displayHead}
        %}
    {% endif  %}
{% endif %}